<h1>Add Transaction for <%= @user.fname %>'s <%= @account.account_name %> Account!</h1>
<%= form_for @transaction, url: save_new_transaction_path, html: { method: :post } do |f| %>
  <h2> <%= f.radio_button :transaction_name, 'withdraw' %>
  <%= f.label :transaction_name_withdraw, 'Withdraw' %>
  <%= f.radio_button :transaction_name, 'deposit' %>
  <%= f.label :transaction_name_deposit, 'Deposit' %> </h2>
  <h3> <%= f.label :amount_cents, "Amount" %>
  <%= f.text_field :amount_cents %> </h3>
  <%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end %>
