<p><a href="/users/<%= @user.id %>/accounts/<%= @account.id %>" style="text-decoration: none;"> < Back to <%= @account.account_name.capitalize %> Account </a></p>
<h1> Add <%= @account.account_name %> Account Transaction </h1>
<% if flash[:notice] %>
  <div class="notice" style="color: red;"> <%= flash[:notice] %> </div>
<% end %>
<% @transaction.errors.each do |_, v| %>
  <li style="color:red;"> <%= v.to_s %> </li>
<% end %>
<%= form_for @transaction, url: save_new_transaction_path, html: { method: :post } do |f| %>
  <h2>
    <% unless @transactions.blank? || @transactions.last.current_amount_cents <= 0 %>
      <%= f.radio_button :transaction_name, 'withdraw' %>
      <%= f.label :transaction_name_withdraw, 'Withdraw' %>
    <% end %>
    <%= f.radio_button :transaction_name, 'deposit' %>
    <%= f.label :transaction_name_deposit, 'Deposit' %>
  </h2>
  <h3> <%= f.label :amount_cents, "Amount" %> </h3>
  <%= f.text_field :amount_cents %>
  <%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end %>
